.event-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
}

.event-popup-content {
    width: 600px;
    max-height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: auto;
    animation: fadeIn 0.3s ease;
    border-top: 4px solid #4CAF50;
    
    /* Scrollbar Styles */
    scrollbar-width: thin; /* Firefox property for thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

.event-popup-content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.event-popup-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.event-popup-content::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    /* Ensure the thumb's edges are rounded */
    border: 3px solid #f1f1f1; /* Add border to show rounded effect */
}

.event-popup-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.event-popup-image-container {
    position: relative;
}

.event-popup-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;
}



.download-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.event-popup-image-container:hover .download-btn {
    display: block;
}

.download-btn:hover {
    background-color: #333;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.hed {
    font-size: 24px;
    margin: 0;
    color: #333;
    font-weight: 700;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #4CAF50;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #333;
}

.event-popup-details {
    padding: 20px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

.event-popup-details p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.event-popup-details p svg {
    margin-right: 10px;
    color: black;
}

.event-popup-details button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

.event-popup-details button:hover {
    background-color: #45a049;
}

.popup-header h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
}
