.custom-footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  width: 72%;
}

.custom-footer a {
  color: white;
}

.custom-footer a:hover {
  color: lightgray;
}

.custom-footer .container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}
